.yellow{
    background-color: yellow;
    height: 50px;
}
.blue{
    background-color: blue;
    height: 50px;
}
.red{
    background-color: red;
    height: 50px;
}
.green{
    background-color: green;
    height: 50px;
}
.gray{
    background-color: gray;
    height: 50px;
}