.yellow{
    background-color: yellow;
    height: 50px;
    margin: 0px 10px 10px 10px;
    
}
.blue{
    background-color: blue;
    height: 50px;
    margin: 10px 10px 10px 10px;
}
.red{
    background-color: red;
    height: 50px;
    margin: 10px 10px 10px 10px;
}